@media (min-width:992px) {
  .col-md-3 {
    width:25%;
  }
}

@media (min-width:992px) {
  .col-md-4 {
    width:33.33333333%;
    border:solid 1px;
  }
}

@media (min-width:768px) {
  .col-md-3 {
    width:25%;
  }
}

.col-xs-3 {
  width:25%;
  height:15%;
}

@media (min-width:992px) {
  .col-md-7 {
    width:58.33333333%;
    height:100%;
  }
}

