<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>likeggiri</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
</head>

<body>
    <div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-left">나의 씨앗끼리</h2>
             <div class="panel-heading">
        <h3 class="panel-title"><span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x text-muted"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse text-left favoritemember"></i></span>내가 관심있는 씨앗끼리</h3>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/1.jpg)">
                    <div class="cover">
                        <h3 class="name">Ben Johnson</h3>
                        <p class="title">Musician</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/2.jpg)">
                    <div class="cover">
                        <h3 class="name">Emily Clark</h3>
                        <p class="title">Artist </p>
                        <div class="social"><a href="#">
                            <i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                              </div> 
                            <br><button class="btn btn-primary" type="button"> 
                                 <i class="fa fa-trash-o"></i></button>
                   </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/3.jpg)">
                    <div class="cover">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title">Stylist </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/4.jpg)">
                    <div class="cover">
                        <h3 class="name">Felicia Adams</h3>
                        <p class="title">Model </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a>
                        </div>  
                        <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                        </div>
                    </div>
                </div>
              <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="pagination">
                        <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                        <li><a>4</a></li>
                        <li><a>5</a></li>
                        <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="team-grid">
    <br><br><br>
    <div class="container">
        <div class="intro">
             <div class="panel-heading">
        <h3 class="panel-title"><span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x text-muted"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse text-left favoritemember"></i></span>내가 참여한 씨앗끼리</h3>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/1.jpg)">
                    <div class="cover">
                        <h3 class="name">Ben Johnson</h3>
                        <p class="title">Musician</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                   <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/2.jpg)">
                    <div class="cover">
                        <h3 class="name">Emily Clark</h3>
                        <p class="title">Artist </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/3.jpg)">
                    <div class="cover">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title">Stylist </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="box" style="background-image:url(assets/img/4.jpg)">
                    <div class="cover">
                        <h3 class="name">Felicia Adams</h3>
                        <p class="title">Model </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    <br><button class="btn btn-primary" type="button"> 
                        <i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            
              <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="pagination">
                        <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                        <li><a>4</a></li>
                        <li><a>5</a></li>
                        <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        </div>
    </div>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>